<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manger.dao.loginMapper.LoginMapper" >
  <cache eviction="LRU" type="org.mybatis.caches.memcached.MemcachedCache"/>
  
  <resultMap type="user" id="user">
     <result column="USERNAME" jdbcType="VARCHAR" property="userName"/>
     <result column="ID" jdbcType="DECIMAL" property="id"/>
     <result column="VERSION" jdbcType="DECIMAL" property="version"/>
     <result column="LOGINNAME" jdbcType="VARCHAR" property="loginName"/>
     <result column="PASSWORD" jdbcType="VARCHAR" property="passWord"/>
     <result column="BUMEN" jdbcType="VARCHAR" property="buMen"/>
     <result column="SALT" jdbcType="VARCHAR" property="salt"/>
  </resultMap>
  
  
  <select id="findByPage" resultType="user">
      select * from base_user
  </select>
  
  <select id="get" resultType="user" parameterType="long">
      select * from base_user where id=#{id}
  </select>
  
  <insert id="addUser">
      <!-- INSERT INTO base_use` VALUES ('1', '张三', 'zhangsan', '12345', 'cascade', 'cascade') -->
  </insert>
  
  
</mapper>
